<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GetImageIpCamera.Properties.Settings.connString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\dmitr\source\repos\GetImageIpCamera\GetImageIpCamera\Database.mdf;Integrated Security=True" />
    </connectionStrings>
</configuration>